# Frontend / BFF
BACKEND_API_URL=http://nginx/api/v1

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

REDIS_BETTER_AUTH_USERNAME=better-auth
REDIS_BETTER_AUTH_PASSWORD=development-better-auth-password

REDIS_BACKEND_CREDENTIAL_USERNAME=backend-credential
REDIS_BACKEND_CREDENTIAL_PASSWORD=development-backend-credential-password
