# Frontend / BFF
BACKEND_API_URL=http://nginx/api/v1

# Laravel
APP_NAME="Engineer Skill Management App"
APP_KEY=
APP_URL=http://localhost:8000
LOG_LEVEL=info

# PostgreSQL
POSTGRES_DB=engineer_skill_management
POSTGRES_USER=app
POSTGRES_PASSWORD=

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

REDIS_BETTER_AUTH_USERNAME=better-auth
REDIS_BETTER_AUTH_PASSWORD=

REDIS_BACKEND_CREDENTIAL_USERNAME=backend-credential
REDIS_BACKEND_CREDENTIAL_PASSWORD=
