# Frontend / BFF
BACKEND_API_URL=http://nginx/api/v1

# Laravel
APP_NAME="Engineer Skill Management App"
APP_KEY=
APP_URL=http://localhost:8000
LOG_LEVEL=info

# PostgreSQL
POSTGRES_DB=engineer_skill_management
POSTGRES_USER=app
POSTGRES_PASSWORD=
